@model ENTITY.ViewObjects.VMLoginUser
@{
    ViewBag.Title = "Giriş";
}

<section class="login_box_area section_gap">
    <div class="container">

        <div class="row">
            <p></p>
            <p></p>
            <div class="col-lg-6">
                <div class="login_box_img">
                    <img class="img-fluid" src="~/karma-master/img/login.jpg" alt="">
                    <div class="hover">
                        <h4>YENİ HESAP</h4>
                        <p>Hayali Dostlar Kitabevine kayıt olun ve fırsatlarımızdan yararlanın.</p>
                        <a class="primary-btn" href="/Member/Register">Hesap Oluştur</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner">
                    @ViewBag.Mesaj
                    <p></p>
                    <h3>GİRİŞ YAP</h3>
                    <form class="row login_form" action="/Member/Login" method="post" id="contactForm" novalidate="novalidate">
                        <div class="col-md-12 form-group">
                            @Html.TextBoxFor(x => x.KullaniciAdi, new { @class = "form-control", placeholder = "Kullanıcı Adı giriniz" })
                        </div>
                        <div class="col-md-12 form-group">
                            @Html.TextBoxFor(x => x.Sifre, new { @class = "form-control", placeholder = "Şifre giriniz", type = "password" })
                        </div>
                        <div class="col-md-12 form-group">
                            @*<div class="creat_account">
                               <input type="checkbox" id="f-option2" name="selector">
                               <label for="f-option2">Keep me logged in</label>
                            </div>*@
                        </div>
                        <div class="col-md-12 form-group">
                            <button type="submit" value="submit" class="primary-btn">Giriş</button>
                            @*<a href="#">Forgot Password?</a>*@
                        </div>
                    </form>

                   
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Login Box Area =================-->
