@using ENTITY
@model Kitap


<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Kitap Detay Sayfası</h1>
                <nav class="d-flex align-items-center">
                    <a href="/Home/Index">Ana Sayfa<span class="lnr lnr-arrow-right"></span></a>
                    <a href="/Home/Books">Kitaplar<span class="lnr lnr-arrow-right"></span></a>
                    <a href="#">Kitap Detay</a>
                </nav>
            </div>
        </div>
    </div>
</section>

<!-- End Banner Area -->
<!--================Single Product Area =================-->
<div class="product_image_area">
    <div class="container">
        <div class="row s_product_inner">
            <div class="col-lg-6">
                <div class="s_Product_carousel">
                    <div class="single-prd-item">
                        <img class="img-fluid" src="~/KitapResimleri/@Model.Resim" alt="">
                    </div>
                    <div class="single-prd-item">
                        <img class="img-fluid" src="~/KitapResimleri/@Model.Resim" alt="">
                    </div>
                    <div class="single-prd-item">
                        <img class="img-fluid" src="~/KitapResimleri/@Model.Resim" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="s_product_text">
                    <h3>@Model.KitapAdi </h3>
                    <h3>-@Model.Yazar.YazarAdi</h3>
                    <h2>@Model.Fiyat ₺</h2>
                    <ul class="list">
                        <li><a class="active" href="#"><span>Kategori</span> : @Model.Kategori.KategoriAdi</a></li>
                        @if (Model.Adet == 0)
                        {
                            <li><a href="#"><span>Stok Durumu</span> :  Stokta kalmadı!!!</a></li>
                        }
                        else
                        {
                            <li><a href="#"><span>Stok Durumu</span> : Stokta</a></li>
                        }
                    </ul>
                    <p>
                       @Model.OzetBilgi
                    </p>
                    <div class="product_count">
                        
                    </div>
                    <div class="card_area d-flex align-items-center">
                        <a class="primary-btn" href="/Member/AddToBasket/@Model.KitapID">Sepete Ekle</a>                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--================End Single Product Area =================-->
<p></p>
<p></p>
<section class="product_description_area">

</section>