    <!-- End Header Area -->
<!-- start banner Area -->
<section class="banner-area">
    <div class="container">
        <div class="row fullscreen align-items-center justify-content-start">
            <div class="col-lg-12">
                <div class="active-banner-slider owl-carousel">
                    <!-- single-slide -->
                    <div class="row single-slide align-items-center d-flex">
                        <div class="col-lg-5 col-md-6">
                            <p></p>
                            <div class="banner-content">
                                
                                <h1>Hayali Dostlar <br>Kitabevi</h1>
                                <p>
                                    “Nasıl bir devirdir ki bu; insanlar arasında olmak, hayvanlar arasında olmaktan daha tehlikeli.”
                                    <br /><br />
                                    Friedrich Nietzsche
                                </p>
                                <div class="add-bag d-flex align-items-center">
                                    @*<a class="add-btn" href=""><span class="lnr lnr-cross"></span></a>
                                    <span class="add-text text-uppercase">Add to Bag</span>*@
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="banner-img">
                                <img class="img-fluid" src="~/Tanitim/banner.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <!-- single-slide -->
                    <div class="row single-slide">
                        <div class="col-lg-5">
                            <div class="banner-content">
                                <h1>Hayali Dostlar<br>Kitabevi</h1>
                                <p>
                                    Şimdi, <br />
                                    “Ne içimdeki sokaklara sığabildim. Ne de dışardaki dünyaya.”
                                    <br /><br />
                                    Sabahattin Ali
                                </p>
                                <div class="add-bag d-flex align-items-center">
                                    @*<a class="add-btn" href=""><span class="lnr lnr-cross"></span></a>
                                    <span class="add-text text-uppercase">Add to Bag</span>*@
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="banner-img">
                                <img class="img-fluid" src="~/Tanitim/banner.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->
<!-- start features Area -->
<section class="features-area section_gap">
    <div class="container">
        <div class="row features-inner">
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="~/karma-master/img/features/f-icon1.png" alt="">
                    </div>
                    <h6>Ücretsiz Kargo</h6>
                    <p>Kargonuz ücretsiz bir şekilde kapınızda.</p>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="~/karma-master/img/features/f-icon2.png" alt="">
                    </div>
                    <h6>Geri Dönüş</h6>
                    <p>Çok kısa bir sürede sizlere geri dönüş sağlıyoruz.</p>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="~/karma-master/img/features/f-icon3.png" alt="">
                    </div>
                    <h6>7/24</h6>
                    <p>Tüm siparişleriniz için 7/24 hizmet vermekteyiz.</p>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="~/karma-master/img/features/f-icon4.png" alt="">
                    </div>
                    <h6>Güvenli Ödeme</h6>
                    <p>Tüm siparişleriniz için güvenli ödeme desteği sağlıyoruz.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end features Area -->
<!-- start product Area -->
<!
<!-- end product Area -->

